<%- include('../partials/navbar') %>
<h1>Editar Insumo</h1>
<form action="/insumos/edit/<%= insumo._id %>" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" value="<%= insumo.nombre %>" required>
    
    <label for="proveedor_id">Proveedor:</label>
    <select name="proveedor_id">
        <% proveedores.forEach(proveedor => { %>
            <option value="<%= proveedor._id %>" <%= insumo.proveedor_id && insumo.proveedor_id._id.equals(proveedor._id) ? 'selected' : '' %>><%= proveedor.nombre %></option>
        <% }) %>
    </select>
    
    <button type="submit">Actualizar</button>
</form>
<a href="/insumos">Volver a la lista de insumos</a>

