<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insumos</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"> 
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <h1>Lista de Insumos</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID Insumo</th>
                    <th>Nombre Insumo</th>
                    <th>Precio Unitario</th>
                    <th>Stock</th>
                    <th>Proveedor</th>
                </tr>
            </thead>
            <tbody>
                <% insumos.forEach(insumo => { %>
                    <tr>
                        <td><%= insumo.idinsumo %></td>
                        <td><%= insumo.nominsumo %></td>
                        <td><%= insumo.preUni %></td>
                        <td><%= insumo.stock %></td>
                        <td><%= insumo.nombreProveedor %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
